{% extends "basic.html" %}

{% block title %}<title>Главная страница</title>{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    <hr>
    <h3>Общее описание</h3>
    <p>Просто коты. Последние 5:</p>
    <hr>
    {% for product in products %}
        <div>
            <p>Название: {{product.name}}</p>
            <p>Описание: {{product.desc}}</p>
            <p> <img class="img" width="200px" max-height="200px" src="/media/{{ product.photo }}"></p>
        </div>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
{% endblock %}